################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GraduMatic-5000/obj
/GraduMatic-5000/bin
